---

- name: install the latest version of Apache
  yum:
    name: "{{ httpd_version }}"
    state: installed

- name: install mod_ssl
  yum:
    name: "{{ modssl_version }}"
    state: installed

- name: copy httpd.conf template
  template:
    src: etc/httpd/conf/httpd.conf.j2
    dest: /etc/httpd/conf/httpd.conf
    owner: root
    group: root
    mode: 644
  notify: 
    - "restart httpd"

- name: copy ssl.conf template
  template:
    src: etc/httpd/conf.d/ssl.conf.j2
    dest: /etc/httpd/conf.d/ssl.conf
    owner: root
    group: root
    mode: 644
  notify: 
    - "restart httpd"

- name: ensure apache owns http directory root
  file:
    dest: "{{ http_document_root }}"
    owner: apache
    group: apache
    recurse: yes

- name: ensure apache owns https directory root
  file:
    dest: "{{ https_document_root }}"
    owner: apache
    group: apache
    recurse: yes

- name: ensure apache owns http cgi-bin directory
  file:
    dest: "{{ http_cgi_dir }}"
    owner: apache
    group: apache
    recurse: yes

- name: ensure apache owns https cgi-bin directory
  file:
    dest: "{{ https_cgi_dir }}"
    owner: apache
    group: apache
    recurse: yes
 
- name: enable and start Apache
  service:
    name: httpd
    state: started
    enabled: true
